.container {
    margin:0px auto; width:600px;
}

.hint-block {
    font-size:11px; padding:5px 0px; color:#999;
}

.help-block {
    color:red; font-size:12px; padding:5px 0px;
}

button[type=submit] {
    padding:5px 10px; margin-top:10px;
}